{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and City</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <label> Nama </label><input type="text" name="nama" value="{{ .Nama }}"  /><br />
      <label> Alamat </label><input type="text" name="alamat" value="{{ .Alamat }}"  /><br />
      <label> No. Telepon </label><input type="text" name="telp" value="{{ .Telp }}"  /><br />
      <input type="submit" value="Save user" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}