{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2><strong>Kontak Tersimpan : </strong></h2>
    <table class="table" border="1">
      <thead>
      <tr>
        <td><strong>ID</strong></td>
        <td><strong>Nama</strong></td>
        <td><strong>Alamat</strong></td>
        <td><strong>Telepon</strong></td>
        <td><strong>View</strong></td>
        <td><strong>Edit</strong></td>
        <td><strong>Delete</strong></td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .Id }}</td>
        <td> {{ .Nama }} </td>
        <td>{{ .Alamat }} </td>
        <td>{{ .Telp }}</td> 
        <td><a class="button is-success" href="/show?id={{ .Id }}">View</a></td>
        <td><a class="button is-primary" href="/edit?id={{ .Id }}">Edit</a></td>
        <td><a class="button is-danger" href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}