{{ define "Show" }}
{{ template "Header" }}
{{ template "Menu"  }}
<form action="">
  <div class="content has-text-left">
    <div class="container">
      <div class="notification">
        <h4><strong>ID: {{ .Id }}</strong> </h4>
        <p><strong>Nama: {{ .Nama }}</strong></p>
        <p><strong>Alamat: {{ .Alamat }}</strong></p>
        <p><strong>No. Telepon: {{ .Telp }}</strong></p>
      </div>
    </div>
  </div>
  <a class="button is-warning" href="/edit?id={{ .Id }}">Edit</a></p>
</form>
{{ template "Footer" }}
{{ end }}